:root {
  --White: #fff;
  --Black: #000;
  --Layer0: rgba(241, 242, 244, 1);
  --Highlight: rgba(213, 217, 221, 1);
  --TextDefault: rgba(5, 5, 6, 1);
  --TextSecondary: rgba(5, 5, 6, 0.3);
  --BrandDefault: rgba(237, 77, 36, 1);
  --BrandHighlight: rgba(230, 61, 18, 1);
  --BrandText: rgba(255, 255, 255, 1);
}